.app-land-industry {
    min-height: 100vh;
    padding-bottom: 2rem;

    .land-title {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15rem;
        margin-top: -20px;
        color: #fff;
        font-size: 36px;
        clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 50%);

        @media #{$small-and-down} {
            font-size: 26px;
        }

        .text {
            position: relative;
            top: -2rem;

            @media #{$small-and-down} {
                top: -3rem;
            }
        }
    }

    .industry-card {
        background: rgb(255,255,255, .7);
    }

    .demo-1 {
        position: absolute;
        width: 100%;
        height: 30rem;
    }

    .land-block {
        position: relative;
    }
}
