.more-one {
    min-height: calc(100vh - #{$navbar-height});
    padding-bottom: 2rem;
    background-color: #bfdebc;
    overflow: hidden !important;

    .app-slider {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 2rem;
        flex-wrap: wrap;

        img {
            max-width: 200px;
            max-height: 200px;
            margin-right: 20px;
            margin-top: 20px;
        }

        @media #{$small-and-down} {
        }

        @media #{$medium-and-down} {
        }
    }

    .table-container {
        tr > td:first-child {
            font-weight: bold;
        }
    }

    //.contacts-container {
    //    margin-top: 2rem;
    //
    //    .contacts {
    //        display: flex;
    //        align-items: center;
    //        justify-content: center;
    //
    //        @media #{$medium-and-down} {
    //            flex-direction: column;
    //        }
    //
    //        a {
    //            margin-left: 1rem;
    //            color: #333;
    //            font-size: 1.7rem;
    //            font-style: italic;
    //        }
    //
    //        .contacts-phone, .contacts-e-mail {
    //            display: flex;
    //            align-items: center;
    //        }
    //    }
    //}
}
