.app-title {
    min-height: 100vh;
    margin-top: -$navbar-height;
    padding-top: 10%;
    background-size: cover;
    color: white;

    @media #{$small-and-down} {
        margin-top: -$navbar-height-mobile;
    }

    .row {
        position: relative;
        z-index: 1;
    }

    .title {
        font-size: 5rem;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 6rem;
    }

    .text {
        font-size: 1.5rem;
        line-height: 2rem;

        a {
            margin-left: 1rem;
            color: #ddd;
            font-size: 1.7rem;
            font-style: italic;
        }
    }

    .contacts {
        display: flex;
        align-items: center;
    }
}
