:host {
  display: flex;
  height: 100%;
  padding: 2rem;
  font-size: 1.5rem;
  box-sizing: border-box;
}

.land-add-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.land-add-form {
  display: flex;
  flex-direction: column;
}

mat-card {
  overflow: auto;
}
